<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather1.jpg">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <marquee behavior="alternate" direction="right"> Welcome to help... </marquee>
            <p>This is the page creted to {{message}}</p>
        </div>
        {{>footer}}
    </body>
</html>